@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;

  font-display: swap;
  src:
    url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;

  font-display: swap;
  src:
    url("../fonts/roboto-condensed-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-700.woff") format("woff");
}

.page {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
}

.accordion {
  max-width: 100vh;
  margin: 1em auto;
  background-color: tomato;
  padding: 2em;
}

.accordion__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion__item {
  border-top: 0.1em solid grey;
  padding: 1em 0;
}

.accordion input {
  display: none;
}

.meme__title {
  display: block;
}

.meme__pic {
  max-width: 100%;
}